<h3 mat-dialog-title><mat-icon>{{ category ? 'edit' : 'create' }}</mat-icon> {{ category ? 'Update' : 'Create' }} Category</h3>
<div mat-dialog-content>
  <form [formGroup]="formGroup" (keyup)="keyup($event.keyCode)" autocomplete="off" novalidate>
    <mat-form-field>
      <input type="text" placeholder="Label" required matInput formControlName="label" />
      <mat-error *ngIf="formGroup.get('label').getError('required')">Please enter a Label</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()" color="primary">
    <mat-icon>clear</mat-icon> Cancel
  </button>
  <button mat-raised-button [disabled]="formGroup.invalid" (click)="keyup(13)" color="accent">
    <mat-icon>check</mat-icon> OK
  </button>
</div>
